

{% extends "PhotonewMainBundle::layout.html.twig" %}

{% block body %}

  <h2>Supprimer un client</h2>

  <p>
    Etes-vous certain de vouloir supprimer cette commande "{{ commande.id }} " ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('_deleteCommande', {'iduser': user.id ,'idcommande': commande.id}) }}" method="post">
    <a href="{{ path('_administration') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des commandes
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}{# empty Twig template #}
{# empty Twig template #}
