@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body { padding-bottom: 70px; }
.vertical-align {       /*Centre les blocs verticalement*/
    display: flex;
    align-items: center;
    text-align: center;
   
}
#title{
   font-family: 'Oswald', sans-serif;
   font-size: 1.5em;
}
body { background-color:#f8f8f8; }
[class*="col"] { margin-bottom: 20px; }
img { width: 100%; }
.well {
    background-color:#CCC;
    padding: 20px;
}
h1{
    font-size: 40px;
}
.container{                    /* Partie centrale*/
    background-color: #999999;
}
footer{
    text-align: center;
}
#rappelTitre{
    font-size: 30px;
}
