{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
    <div class="col-sm-7">
        {% block photonewBundle_body %}
        {% endblock %}
    </div>
    <div class=" col-sm-5">
        
            <aside>
                {% block aside %}
                Aside 1
                {% endblock %}
            </aside>
        </div>
    </div>
{% endblock %}